.card {
  background-color: white;
  border-radius: var(--border-radius);
  filter: drop-shadow(0 0.3rem 1.5rem rgba(0, 0, 0, 0.1));
  padding: 0.5rem;
}

.card img {
  object-fit: cover;
}

.euro {
  font-weight: 700;
}
