.bigger-text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
}

.card {
  background-color: white;
  border-radius: var(--card-border-radius);
  filter: drop-shadow(0 0.3rem 1.5rem rgba(0, 0, 0, 0.1));
  transition: var(--transition);
}

.card:hover {
  transform: scale(1.05);
  transition: var(--transition);
}

.card img {
  padding: 0.5rem;
  object-fit: cover;
}

.card-subtitle {
  font-size: 1.4rem;
}

.euro {
  font-weight: 700;
}
