@import "basic-style.css";
@import "font-awesome-style.css";
@import "generic-style.css";
@import "layout.css";
@import "variables.css";

/* Header */
header img {
  height: 7.9rem;
  padding: 3rem 5rem;
}

header nav {
  height: 3.5rem;
  padding: 0 5rem;
  width: 34.4rem;
}

header nav a {
  display: flex;
}

/* Hebergements */
#hebergements {
  width: 65%;
}

/* Populaires */
.populaires {
  width: 32%;
}

.populaires-cards .card {
  display: flex;
  margin-top: 3.3rem;
}

.populaires-cards img {
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  height: 13.6rem;
  width: 33%;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-title {
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}

.populaires-cards .card-rating {
  margin-bottom: 0.5rem;
}

/* Styles on medium (tablets) and large devices (computers) */
@media (min-width: 769px) {
  header nav a {
    align-items: flex-end;
  }

  header nav a:hover {
    border-top: 0.2rem solid var(--primary);
    color: var(--primary);
  }
}

/* Styles on small (phones) and medium (tablets) devices */
@media (max-width: 1024px) {
  header nav a:hover {
    border-bottom: 0.2rem solid var(--primary);
    color: var(--primary);
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 5rem;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 1.4rem;
  }

  .populaires-cards .card-subtitle {
    font-size: 1.3rem;
  }
}

/* Styles on small devices (phones) */
@media (max-width: 768px) {
  /**/
}
