@import "basic-style.css";
@import "font-awesome-style.css";
@import "generic-style.css";
@import "layout.css";
@import "variables.css";

/* Header */
header img {
  height: 7.9rem;
  padding: 3rem 0;
}

header nav a {
  display: flex;
  height: 3.5rem;
  margin-left: 6.8rem;
}

/* Form to search an accomodation */
.filter-button {
  align-items: center;
  background-color: white;
  border: 2px solid var(--secondary-button-border);
  border-radius: 2.5rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 700;
  height: 5rem;
  line-height: 2rem;
  padding: 0.4rem 1.9rem;
  transition: var(--transition);
}

.filter-button:hover {
  background-color: var(--secondary);
}

.filter-button > i {
  color: var(--primary);
  display: flex;
  font-size: 2.2rem;
  justify-content: center;
  margin-right: 1rem;
  width: 2.2rem;
}

#filter-buttons > * {
  margin-right: 1.5rem;
}

#filters {
  align-items: center;
  display: flex;
}

#filters > p {
  margin-right: 1.5rem;
}

#icon-circle {
  border: 1px solid var(--secondary-button-border);
  border-radius: 50%;
  height: 2.4rem;
  margin-right: 1rem;
  min-width: 2.4rem;
}

#icon-circle > i {
  color: var(--primary);
  font-size: 1.065rem;
}

#location-dot {
  background-color: var(--section-background);
  border: 0.1rem solid var(--section-background);
  border-bottom-left-radius: var(--default-border-radius);
  border-top-left-radius: var(--default-border-radius);
}

#location-dot,
#location-dot > i {
  width: 5rem;
}

#search-accomodation-form > *:not(:last-child) {
  margin-bottom: 3.5rem;
}

#search-accomodation-form h2 {
  margin-bottom: 0.8rem;
}

#search-bar {
  border-bottom: 0.1rem solid var(--section-background);
  border-top: 0.1rem solid var(--section-background);
  border-radius: var(--default-border-radius);
  height: 5.1rem;
  max-width: 37.7rem;
}

#search-bar > * {
  height: 100%;
}

#search-bar > input {
  border: 0;
  flex: 1;
  padding: 1.2rem 0 1.2rem 2.4rem;
  width: 19.5rem;
}

#search-button {
  background-color: var(--primary);
  border: 0;
  border-bottom-right-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
  color: white;
  padding: 1.5rem 1.6rem;
  outline: 0.2rem solid var(--primary);
  outline-offset: -0.1rem;
  width: 13.2rem;
}

/* Accomodation and famous accomodation sections */
#accomodations,
#famous-accomodations {
  background-color: var(--section-background);
  border-radius: var(--default-border-radius);
  padding: 3rem;
}

#accomodations-and-famous-accomodations {
  display: flex;
  justify-content: space-between;
}

/* Accomodations */
#accomodations {
  margin-right: 4rem;
  width: 65%;
}

#accomodations > h2 {
  margin-bottom: 3rem;
}

.accomodation-card-row {
  display: flex;
  margin-bottom: 3rem;
}

.accomodation-card-row > * {
  display: block;
  flex: 1;
}

.accomodation-card-row > *:not(:last-child) {
  margin-right: 3rem;
}

.accomodation-card-row h3 {
  margin-bottom: 0.8rem;
}

.accomodation-card-row img {
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  height: 12.4rem;
  margin-bottom: 0.4rem;
  width: 100%;
}

.accomodation-card-row .card {
  height: 100%;
  padding-bottom: 1.5rem;
}

.accomodation-card-row .card-content {
  padding: 0 1.5rem;
}

.accomodation-card-row .card-txt {
  margin-bottom: 0.8rem;
}

/* Famous accomodations */
#famous-accomodations {
  width: 32%;
}

#famous-accomodation-cards h3 {
  margin-bottom: 0.5rem;
}

#famous-accomodation-cards img {
  border-bottom-left-radius: var(--card-border-radius);
  border-top-left-radius: var(--card-border-radius);
  height: 14.6rem;
  width: 33.33%;
}

#famous-accomodation-cards .card {
  display: flex;
  margin-top: 3rem;
}

#famous-accomodation-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0.5rem 1rem 1.5rem;
  width: 66.67%;
}

/* Activities */
#activities {
  padding: 3rem;
}

#activities > h2 {
  margin-bottom: 3rem;
}

#activity-container {
  display: flex;
}

#activity-container > * {
  display: block;
  flex: 1;
}

#activity-container > *:not(:last-child) {
  margin-right: 3rem;
}

#activity-container h3 {
  padding: 2rem 1.9rem;
}

#activity-container img {
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  height: 38rem;
  padding: 0;
  width: 100%;
}

#activity-container .card {
  height: 100%;
}

/* Footer */
footer li:not(:last-child),
footer p {
  margin-bottom: 1.5rem;
}

footer ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
}

/* Styles on medium (tablets) and large devices (computers) */
@media (min-width: 768px) {
  /* Header */
  header nav a {
    align-items: flex-end;
  }

  header nav a:hover {
    border-top: 0.2rem solid var(--primary);
  }

  /* Form to search an accomodation */
  #search-button > i {
    display: none;
  }
}

/* Styles on small (phones) and medium (tablets) devices */
@media (max-width: 1024px) {
  /* Form to search an accomodation */
  #filters {
    align-items: flex-start;
    flex-direction: column;
  }

  .filter-button {
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-top: 2rem;
  }
  /* Accomodation and famous accomodation sections */
  #accomodations,
  #famous-accomodations {
    width: 100%;
  }

  #accomodations-and-famous-accomodations {
    flex-direction: column;
  }

  /* Accomodations */
  #accomodations {
    margin-bottom: 5rem;
    margin-right: 0;
  }

  /* Famous accomodations */
  #famous-accomodation-cards {
    display: flex;
  }

  #famous-accomodation-cards > * {
    flex: 1;
  }

  #famous-accomodation-cards > *:not(:last-child) {
    margin-right: 2rem;
  }

  #famous-accomodation-cards .card {
    margin-top: 2rem;
  }

  /* Activities */
  #activity-container img {
    height: 20rem;
  }
}

/* Styles on small devices (phones) */
@media (max-width: 767.99px) {
  /* Header */
  header > a {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header li {
    flex: 1;
  }

  header nav a {
    border-bottom: 0.2rem solid var(--section-background);
    display: flex;
    height: 3.6rem;
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  header nav a:hover {
    border-bottom: 0.2rem solid var(--primary);
  }

  /* Form to search an accomodation */
  .filter-button {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  #filter-buttons > * {
    flex: 1;
    margin-right: 1rem;
  }

  #search-accomodation-form {
    padding: 0 2rem;
  }

  #search-button {
    border-bottom-left-radius: var(--default-border-radius);
    border-top-left-radius: var(--default-border-radius);
    filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    width: 4.9rem;
  }

  #search-button > span {
    display: none;
  }

  /* Accomodation and famous accomodation sections */
  #accomodations-and-famous-accomodations {
    flex-direction: column-reverse;
  }

  /* Famous accomodations */
  #famous-accomodations {
    margin-bottom: 1.5rem;
    padding: 3rem 2rem;
  }

  #famous-accomodation-cards {
    flex-direction: column;
  }

  #famous-accomodation-cards > *:not(:last-child) {
    margin-right: 0;
  }

  #famous-accomodation-cards .card {
    margin-top: 1.5rem;
  }

  /* Accomodations */
  #accomodations {
    background-color: white;
    margin-bottom: 0;
    padding: 2rem;
  }

  #accomodations > h2 {
    margin-bottom: 1.5rem;
  }

  .accomodation-card-row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .accomodation-card-row > * {
    margin-bottom: 1.5rem;
  }

  .accomodation-card-row > *:not(:last-child) {
    margin-right: 0;
  }

  /* Activities */
  #activity-container {
    flex-direction: column;
  }

  #activity-container > *:not(:last-child) {
    margin-bottom: 1.5rem;
    margin-right: 0rem;
  }

  #activity-container img {
    height: 14.1rem;
  }

  /* Footer */
  footer ul {
    padding: 0;
  }
}
