@import "basic-style.css";
@import "font-awesome-style.css";
@import "generic-style.css";
@import "layout.css";
@import "variables.css";

/* Header */
header img {
  height: 100%;
  padding: 3rem 0;
}

header nav {
  height: 3.5rem;
  width: 24.4rem;
}

header nav a {
  display: flex;
}

/* Form to search an accomodation */
.filter {
  align-items: center;
  background-color: white;
  border: 2px solid var(--secondary-button-border);
  border-radius: 2.5rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 700;
  height: 5rem;
  line-height: 2rem;
  padding: 0.4rem 1.9rem;
}

.filter:hover {
  background-color: var(--secondary);
}

.filter > i {
  color: var(--primary);
  display: flex;
  font-size: 2.2rem;
  justify-content: center;
  margin-right: 1rem;
  width: 2.2rem;
}

#filters > * {
  margin-right: 1.5rem;
}

#filters > p {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
}

#icon-circle {
  border: 1px solid var(--secondary-button-border);
  border-radius: 50%;
  margin-right: 1rem;
  height: 2.4rem;
  width: 2.4rem;
}

#icon-circle > i {
  color: var(--primary);
  font-size: 1.065rem;
}

#location-dot {
  background-color: var(--section-background);
  border: 0.1rem solid var(--section-background);
  border-bottom-left-radius: var(--default-border-radius);
  border-top-left-radius: var(--default-border-radius);
}

#location-dot,
#location-dot > i {
  width: 5rem;
}

#search-accomodation-form > * {
  margin-bottom: 3.5rem;
}

#search-accomodation-form h2 {
  margin-bottom: 0.8rem;
}

#search-bar {
  height: 4.9rem;
  width: 37.7rem;
}

#search-bar > * {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
}

#search-bar > input {
  border: 0.1rem solid var(--section-background);
  padding: 1.2rem 0 1.2rem 2.4rem;
  width: 19.5rem;
}

#search-button {
  background-color: var(--primary);
  border: 0.1rem solid var(--primary);
  border-bottom-right-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
  color: white;
  padding: 1.5rem 1.6rem;
  width: 13.2rem;
}

/* Accomodation and famous accomodation sections */
#accomodations,
.famous {
  background-color: var(--section-background);
  border-radius: var(--default-border-radius);
  padding: 3rem;
}

/* Accomodations */
#accomodations {
  width: 65%;
}

#accomodations > * {
  margin-bottom: 3rem;
}

/* Famous accomodations */
.famous {
  width: 32%;
}

.famous-cards .card {
  display: flex;
  margin-top: 3.3rem;
}

.famous-cards img {
  border-bottom-left-radius: var(--card-border-radius);
  border-top-left-radius: var(--card-border-radius);
  height: 13.6rem;
  width: 33%;
}

.famous-cards .card-content {
  padding-left: 1.5rem;
  width: 67%;
}

.famous-cards .card-title {
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}

.famous-cards .card-rating {
  margin-bottom: 0.5rem;
}

/* Styles on medium (tablets) and large devices (computers) */
@media (min-width: 769px) {
  header nav a {
    align-items: flex-end;
  }

  header nav a:hover {
    border-top: 0.2rem solid var(--primary);
    color: var(--primary);
  }

  #search-button > i {
    display: none;
  }
}

/* Styles on small (phones) and medium (tablets) devices */
@media (max-width: 1024px) {
  header nav a:hover {
    border-bottom: 0.2rem solid var(--primary);
    color: var(--primary);
  }

  .accomodations-and-famous {
    flex-direction: column;
  }

  .accomodations {
    width: 100%;
  }

  .famous {
    margin-top: 5rem;
    width: 100%;
  }

  .famous-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .famous-cards a {
    width: 30%;
  }

  .famous-cards .card-title {
    font-size: 1.4rem;
  }

  .famous-cards .card-subtitle {
    font-size: 1.3rem;
  }
}

/* Styles on small devices (phones) */
@media (max-width: 768px) {
  #search-button > span {
    display: none;
  }
}
