html {
  /* Border radius */
  --card-border-radius: 2rem;
  --default-border-radius: 1.5rem;

  /* Colors */
  --primary: #0065fc;
  --secondary: #deebff;
  --secondary-button-border: #d9d9d9;
  --section-background: #f2f2f2;

  /* Fonts */
  --font-family: "Raleway", sans-serif;

  /* Limit width */
  --max-width: 144rem;
  --min-width: 32rem;

  /* Transitions */
  --transition: all 0.3s;
}
